# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Felix\OneDrive - tgm - Die Schule der Technik\TGM_Sem6\SEW\InelliJ-Projects\CCC2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
